$color-footer-titulop: hsl(179, 62%, 43%);
$color-backfooter: #4abebd;
$color-boton-spanheader: hsl(71, 73%, 54%);
$color-fondo:hsl(204, 43%, 93%);
$color-textohe:hsl(218, 22%, 67%);
$color-texto-main: rgba(255, 255, 255, 0.904);
$color-texto-footer: rgba(255, 255, 255, 0.527);
$color-texto-after: rgba(255, 255, 255, 0.4);
$sombra: rgba(0, 0, 0, 0.15) 5px 5px 50px;
$font-titulos: 700 27px Karla;
$font-texto-subti: 400 16px Karla;
$font-texspahe: 700 20px Karla;
